.body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
body.application {
  background: url(../images/background.jpg) repeat 0 0;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 40px;
}
.row-fluid {
        margin: 20px;
}
.chart-wrapper {
        margin: 10px;
}
/* Set the width, height and position for charts */
#sales-line-chart,
#rating-pie-chart,
#volume-games-line-chart,
#releases-platform-bar-chart,
#sales-by-region-genre-chart,
#sales-nd,
#games-nd,
#genre-menu-select,
#name-menu-select,
#platform-menu-select,
#top-games-sales-row-chart {
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
}
/* Chart background color */
.chart-stage {
    background: #f3f3f3;
}
/* Number display box */
#sales-nd,
#games-nd {
        position: relative;
        font-size: 30px;
        color: #606057;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
        margin: 0;
}
.dc-select-menu {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #7a7a7a;
        border-radius: 3px;
        vertical-align: middle;
        padding: 2px 0;
        font-size: 14px;
        color: #fff;
        border: none;
}
.nav_img {
        height: 30px;
        margin-left: -10px;
        padding: 0;
}

.clear {
     clear: both;
}

.dc-chart {
   font-weight: normal;
   font-size: 11px;
   padding-bottom: 12px;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
   color: #1a1a1a;
}
.dc-legend {
    font-size: 10px;
}
@media screen and (min-width: 278px) and (max-width: 400px) {
    .container-fluid {
        width: 100%;
        margin: 0 auto;
    }
    .row-fluid {
        margin: -30px;
    }
    .chart-wrapper {
        margin: 5px;
    }
    #games-nd,
    #sales-nd {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        vertical-align: middle;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 0;
    }
    .dc-chart g.row text {
        color: #7a7a7a;
        font-size:8px;
    }
    .dc-select-menu {
        width: 100%;
        height: 100%;
        position: relative;
        vertical-align: middle;
        padding: 1px 0;
        border-radius: 3px;
        font-size: 12px;
    }
    .navbar-brand {
        font-size: 15px;
    }
}

/* Small devices (tablets, etc.) */
@media screen and (min-width: 401px) and (max-width: 768px) {
    .container-fluid {
        width: 100%;
        margin: 0 auto;
    }

    .row-fluid {
        margin: 5px;
    }

    .chart-wrapper {
        margin: 5px;
    }

    #games-nd,
    #sales-nd {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        vertical-align: middle;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 0;
    }

    .dc-chart g.row text {
        color: #7a7a7a;
        font-size: 10px;
    }

    .dc-select-menu {
        width: 100%;
        height: 100%;
        position: relative;
        vertical-align: middle;
        padding: 2px 0;
        border-radius: 3px;
        font-size: 14px;
    }
}

/* Medium devices (desktops, 769px and up) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .container-fluid {
        width: 100%;
        margin: 0 auto;
    }

    .row-fluid {
        margin: 40px;
    }
    .chart-wrapper {
        margin: 10px;
    }
    #games-nd,
    #sales-nd {
        font-size: 30px;
        color: #676766;
        font-weight: bold;
        position: relative;
        vertical-align: middle;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .dc-chart g.row text {
        color: #7a7a7a;
        font-size: 12px;
    }

    .dc-select-menu {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        vertical-align: middle;
        padding: 4px 0;
        border-radius: 3px;
        font-size: 14px;
    }
}

/* Large devices (large desktops, 993px and up) */
@media screen and (min-width: 993px) and (max-width: 1199px) {

    .row-fluid {
        margin: 5px;
    }
    .dc-chart g.row text {
        color: #7a7a7a;
        font-size: 9px;
    }
    .dc-select-menu {
        width: 100%;
        height: 100%;
        position: relative;
        vertical-align: middle;
        padding: 6px 0;
        font-size: 14px;
    }
}
/* Even larger devices (ott desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .container-fluid {
        width: 100%;
        margin: 0 auto;
    }
    .row-fluid {
        margin: 10px;
    }
    .chart-wrapper {
        margin: 10px;
    }
    #main-content {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    #games-nd,
    #sales-nd {
        font-size: 30px;
        color: #676766;
        position: relative;
        font-weight: bold;
        padding-top: 14px;
        padding-bottom: 0;
        vertical-align: middle;
        text-align: center;
    }
    .dc-chart g.row text {
        color: #7a7a7a;
        font-size: 10px;
    }
    .navbar-brand {

    }
}
