{% extends "index.html" %}
{% block content %}

<div  class="container-fluid">
    <div class = "row">
        <div id = "table" class = "col-sm-12">
            <div class="chart-wrapper">
                        <div style = "clear:both">
                            <table id="data-table" class="table table-hover table-responsive">
                                <thead>
                                    <tr class="header">
                                        <th><span>Name</span></th>
                                        <th><span>Platform</span></th>
                                        <th><span>year</span></th>
                                        <th><span>genre</span></th>
                                        <th><span>NA_sales</span></th>
                                        <th><span>EU_sales</span></th>
                                        <th><span>JP_sales</span></th>
                                        <th><span>other_sales</span></th>
                                        <th><span>global_sales</span></th>
                                        <th><span>critic_score</span></th>
                                        <th><span>user_score</span></th>
                                        <th><span>user_count</span></th>
                                        <th><span>developer</span></th>
                                        <th><span>rating</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
             </div>
        </div>
     </div>
</div>

<!--/ content -->
{% endblock %}
